.user__input__background
  .user__input__background__address
    = render "progress_header"
    .user__input__address
      .user__input__address__title
        .user__input__address__title-text
          住所入力
      .user__input__address__main
        .user__input__address__main-form
          = form_for @user, url: payment_signups_path, method: :get do |f|
            = f.fields_for :addresses do |f|
              .user__input__address__main-form-field
                = f.label :"お名前(全角)" 
                %span.user__input__address__main-form-field__require
                  必須
                %br/
                = f.text_field :familyname, placeholder: "例）山田"
                .user__input__address__main-form__confirm-text
                  = render partial: 'error-message', locals: {model: @address, column: "familyname"}
                = f.text_field :firstname, placeholder: "例）彩"
                .user__input__address__main-form__confirm-text
                  = render partial: 'error-message', locals: {model: @address, column: "firstname"}
              .user__input__address__main-form-field
                = f.label :"お名前(カナ)" 
                %span.user__input__address__main-form-field__require
                  必須
                %br/
                = f.text_field :familyname_kana, placeholder: "例）ヤマダ"
                .user__input__address__main-form__confirm-text
                  = render partial: 'error-message', locals: {model: @address, column: "familyname_kana"}
                = f.text_field :firstname_kana, placeholder: "例）アヤ"
                .user__input__address__main-form__confirm-text
                  = render partial: 'error-message', locals: {model: @address, column: "firstname_kana"}
              .user__input__address__main-form-field
                = f.label :"郵便番号"
                %span.user__input__address__main-form-field__require
                  必須
                %br/
                = f.text_field :zip_code, placeholder: "例）123-4567"
              .user__input__address__main-form__confirm-text
                = render partial: 'error-message', locals: {model: @address, column: "zip_code"}
              .user__input__address__main-form-field
                = f.label :"都道府県"
                %span.user__input__address__main-form-field__require
                  必須
                %br/
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name
              .user__input__address__main-form__confirm-text
                = render partial: 'error-message', locals: {model: @address, column: "prefecture_id"}
              .user__input__address__main-form-field
                = f.label :"市区町村"
                %span.user__input__address__main-form-field__require
                  必須
                %br/
                = f.text_field :city, placeholder: "例）横浜市緑区"
                .user__input__address__main-form__confirm-text
                  = render partial: 'error-message', locals: {model: @address, column: "city"}
              .user__input__address__main-form-field
                = f.label :"番地"
                %span.user__input__address__main-form-field__require
                  必須
                %br/
                = f.text_field :address_line, placeholder: "例）青山1-1-1"
              .user__input__address__main-form__confirm-text
                = render partial: 'error-message', locals: {model: @address, column: "address_line"}
              .user__input__address__main-form-field
                = f.label :"建物名"
                %span.user__input__address__main-form-field__arbitrary
                  任意
                %br/
                = f.text_field :building_name, placeholder: "例）柳ビル103"
              .user__input__address__main-form-field
                = f.label :"電話"
                %span.user__input__address__main-form-field__arbitrary
                  任意
                %br/
                = f.text_field :phone_number, placeholder: "例）09012345678"
              .user__input__basic__main-form__confirm-text
                = render partial: 'error-message', locals: {model: @address, column: "phone_number"}
              %br/
              .user__input__address__main-form-field__next-button
                = f.submit "次へ進む"
            .user__input__address__main__about-registration
              .user__input__address__main__about-registration-text
                = link_to "" do
                  ="本人情報の登録について＞"

  = render "shared/center_logo_footer"