.my-side
  %nav.myside-bar-nav
    %ul.myside-bar-nav-list
      %li
        = link_to mypage_path(current_user.id) do
          .myside-bar-nav-list-item
            マイページ
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            お知らせ
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            やる事リスト
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            いいね！一覧
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to new_item_path do
          .myside-bar-nav-list-item
            出品する
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to listings_mypage_path(current_user.id) do
          .myside-bar-nav-list-item
            出品した商品 - 出品中
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            出品した商品 - 取引中
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            出品した商品 - 売却済み
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            購入した商品 - 取引中
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            購入した商品 - 過去の取引
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            ニュース一覧
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            評価一覧
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            ガイド
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            お問い合わせ
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
    %h3.myside-bar-nav-head メルペイ
    %ul.myside-bar-nav-list
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            売上・振込申請
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            ポイント
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
    %h3.myside-bar-nav-head 設定
    %ul.myside-bar-nav-list
      %li
        = link_to edit_mypage_path(current_user.id) do
          .myside-bar-nav-list-item
            プロフィール
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            発送元・お届け先住所変更
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to card_index_path do
          .myside-bar-nav-list-item
            支払い方法
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            メール/パスワード
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to edit_identification_mypage_path(current_user.id) do
          .myside-bar-nav-list-item
            本人情報
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to "" do
          .myside-bar-nav-list-item
            電話番号の確認
            %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        = link_to logout_mypage_path(current_user.id) do
          .myside-bar-nav-list-item
            ログアウト
            %i.fa.fa-angle-right.fa-2x.fa-pull-right