.my-side
  %nav.myside-bar-nav
    %ul.myside-bar-nav-list
      %li
        %a.myside-bar-nav-list-item{href: "/mypages/#{current_user.id}"}
          マイページ
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          お知らせ
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          やる事リスト
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          いいね！一覧
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          出品する
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          出品した商品 - 出品中
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          出品した商品 - 取引中
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          出品した商品 - 売却済み
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          購入した商品 - 取引中
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          購入した商品 - 過去の取引
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          ニュース一覧
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          評価一覧
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          ガイド
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          お問い合わせ
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
    %h3.myside-bar-nav-head メルペイ
    %ul.myside-bar-nav-list
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          売上・振込申請
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          ポイント
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
    %h3.myside-bar-nav-head 設定
    %ul.myside-bar-nav-list
      %li
        %a.myside-bar-nav-list-item{href: "/mypages/#{current_user.id}/edit"}
          プロフィール
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          発送元・お届け先住所変更
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"/mypages/#{current_user.id}/cards"}
          支払い方法
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          メール/パスワード
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"/mypages/#{current_user.id}/edit_identification"}
          本人情報
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href:"#"}
          電話番号の確認
          %i.fa.fa-angle-right.fa-2x.fa-pull-right
      %li
        %a.myside-bar-nav-list-item{href: "/mypages/#{current_user.id}/logout"}
          ログアウト
          %i.fa.fa-angle-right.fa-2x.fa-pull-right