= render "items/top-page-header"
- breadcrumb :profile
= render "layouts/breadcrumbs"
%main.big-container
  %main.my-container
    = render "side-bar"
    = render "profile-edit"
= render "items/top-page-footer"