.urer-name
  = "#{current_user.nickname}さんの商品一覧"
.temporary
  - @items.each do |item|
    .item-list
      = link_to "" do
        .wrapper
          = item.name
          = link_to item_path(item.id) do
            商品詳細

= link_to mypage_path do
  マイページへ戻る

= link_to root_path do
  トップページへ戻る