.urer-name
  = "#{current_user.nickname}さんの商品一覧"
.temporary
  - @items.each do |item|
    .item-list
      = link_to "" do
        .wrapper
          = item.name
          = link_to item_path(item.id) do
            商品詳細

= render "items/top-page-header"
- breadcrumb :mypages
= render "layouts/breadcrumbs"
%main.big-container
  %main.my-container
    = render "side-bar"
    = render "top-page"
= render "items/top-page-footer"
