.category-search-pulldown
  %ul.category-search
    %li.category-search__list
      = link_to "" do
        .category-search__list__title
          .category-search__list__title--icon
            = image_tag "top-page/category-icon.png"
          .category-search__list__title--text
            カテゴリーから探す
      %ul.grand-category
        / 第一階層
        %li.count
          = link_to "" do
            grand-category
          %ul.parent-category
            / 第二階層
            %li.count
              = link_to "" do
                parent-category
              %ul.child-category
                / 第三階層
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
            %li.count
              = link_to "" do
                parent-category
              %ul.child-category
                / 第三階層
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
            %li.count
              = link_to "" do
                parent-category
              %ul.child-category
                / 第三階層
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
            %li.count
              = link_to "" do
                parent-category
            %li.count
              = link_to "" do
                parent-category
            %li.count
              = link_to "" do
                parent-category
        %li.count
          = link_to "" do
            grand-category
          %ul.parent-category
            / 第二階層
            %li.count
              = link_to "" do
                parent-category
              %ul.child-category
                / 第三階層
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
            %li.count
              = link_to "" do
                parent-category
              %ul.child-category
                / 第三階層
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
            %li.count
              = link_to "" do
                parent-category
              %ul.child-category
                / 第三階層
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
                %li
                  = link_to "" do
                    child-category
            %li.count
              = link_to "" do
                parent-category
            %li.count
              = link_to "" do
                parent-category
        %li.count
          = link_to "" do
            grand-category
        %li.count
          = link_to "" do
            grand-category
        %li.count
          = link_to "" do
            grand-category