.top-page-header
  .header-box
    .upper
      .logo
        = link_to root_path do
          .test
            = image_tag "top-page/top-page-logo.png"
      .search-box
        .form
          = search_form_for @q, url: search_index_path do |f|
            = f.search_field :name_cont, class: "form__field", placeholder: "何かお探しですか？"
            = f.submit class:"form__button", id: 'searchBtn'
            = fa_icon "search", class: "searchIcon"
    .lower
      .search-category-wrapper
        = render partial: "items/category-search-pulldown", locals: {grandCategory: @grandCategory}
      .search-brand-wrapper
        .search-brand-content
          = link_to brands_path do
            .search-brand
              .search-brand__icon
                = image_tag "top-page/brand-icon.png"
              .search-brand__text
                ブランドから探す
        .pull-down
          %li 
            = link_to "シャネル" , brand_path(6198)
          %li
            = link_to "ナイキ" , brand_path(4356)
          %li
            = link_to "ルイヴィトン" , brand_path(724)
          %li
            = link_to "シュプリーム" , brand_path(6071)
          %li
            = link_to "アディダス" , brand_path(9716)
          %li
            = link_to "ブランド一覧" , brands_path
      - if user_signed_in?
        .good-list-wrapper
          .good-list-content
            = link_to "" do
              .good-list
                .good-list__icon
                  = fa_icon "heart"
                .good-list__text
                  いいね！一覧
        .notice-wrapper
          .notice-content
            = link_to "" do
              .notice
                .notice__icon
                  = fa_icon "bell"
                .notice__text
                  お知らせ
          -# .pull-down
          -#   %li test
          -#   %li test
        .todo-list-wrapper
          .todo-list-content
            = link_to "" do
              .todo-list
                .todo-list__icon
                  = fa_icon "check"
                .todo-list__text
                  やることリスト
          -# .pull-down
          -#   %li test
        .mypage-wrapper
          .mypage-content
            = link_to mypage_path(current_user.id), class:"mypage__text" do
              .mypage
                .mypage__icon
                  = image_tag "top-page/defalte-user-icon.png"
                .mypage__text
                  マイページ
          -# .pull-down
          -#   %li test
          -#   %li test
          -#   %li test
          -#   %li test
          -#   %li test
      - else
        .sign-up-wrapper
          .sign-up-button
            = link_to signups_path do
              新規会員登録
        .sign-in-wrapper
          .sign-in-button
            = link_to new_user_session_path do
              ログイン