.top-page-main-content
  .content-box
    .advertisement
      .move-left
        = fa_icon "angle-left"
      .move-right
        = fa_icon "angle-right"
    .main-content
      .show-recommend
        .text
          人気のカテゴリー
        .list-box
          .list-box__list
            = link_to "#categoryPath1" do
              #{category1.name}
          .list-box__list
            = link_to "#categoryPath2" do
              #{category2.name}
          .list-box__list
            = link_to "#categoryPath3" do
              #{category3.name}
          .list-box__list
            = link_to "#categoryPath4" do
              #{category4.name}
      .recommend-box
        = render partial: "top-page-item-wrapper", locals: {itemsCategory1: @itemsCategory1, category1: @Category1, |
                                                    itemsCategory2: @itemsCategory2, category2: @Category2, |
                                                    itemsCategory3: @itemsCategory3, category3: @Category3, |
                                                    itemsCategory4: @itemsCategory4, category4: @Category4}
      .show-recommend
        .text
          人気のブランド
        .list-box
          .list-box__list
            ブランド1
          .list-box__list
            ブランド2
          .list-box__list
            ブランド3
          .list-box__list
            ブランド4
      .recommend-box
        .recommend-item
          .header
            .title
              ブランド1新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
            - 10.times do
              .show-item
                = link_to "", class:"modify-link-to" do
                  .show-item__image
                    = image_tag "top-page/item-sample-image.png"
                  .show-item__price
                    ¥4,000
                  .show-item__name
                    %p ニンテンドースイッチ スプラトゥーン2
        .recommend-item
          .header
            .title
              ブランド2新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
        .recommend-item
          .header
            .title
              ブランド3新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
        .recommend-item
          .header
            .title
              ブランド4新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper