.top-page-main-content
  .content-box
    .advertisement
      .move-left
        = fa_icon "angle-left"
      .move-right
        = fa_icon "angle-right"
    .main-content
      .show-recommend
        .text
          人気のカテゴリー
        .list-box
          .list-box__list
            #{categoryName1}
          .list-box__list
            #{categoryName2}
          .list-box__list
            #{categoryName3}
          .list-box__list
            #{categoryName4}
      .recommend-box
        .recommend-item
          .header
            .title
              #{categoryName1}新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
            - itemsCategory1.each do |item|
              .show-item.fade-off
                = link_to item_path(item.id), class:"modify-link-to" do
                  .show-item__image
                    = image_tag "#{item.images[0].name}", height: '163'
                  .show-item__price
                    = item.price.to_s(:currency, precision: 0, format: '¥%n')
                  .show-item__name
                    %p 
                      = item.name
        .recommend-item
          .header
            .title
              #{categoryName2}新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
            - itemsCategory2.each do |item|
              .show-item.fade-off
                = link_to item_path(item.id), class:"modify-link-to" do
                  .show-item__image
                    = image_tag "#{item.images[0].name}", height: '163'
                  .show-item__price
                    = item.price.to_s(:currency, precision: 0, format: '¥%n')
                  .show-item__name
                    %p 
                      = item.name
        .recommend-item
          .header
            .title
              #{categoryName3}新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
            - itemsCategory3.each do |item|
              .show-item.fade-off
                = link_to item_path(item.id), class:"modify-link-to" do
                  .show-item__image
                    = image_tag "#{item.images[0].name}", height: '163'
                  .show-item__price
                    = item.price.to_s(:currency, precision: 0, format: '¥%n')
                  .show-item__name
                    %p 
                      = item.name
        .recommend-item
          .header
            .title
              #{categoryName4}新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
            - itemsCategory4.each do |item|
              .show-item.fade-off
                = link_to item_path(item.id), class:"modify-link-to" do
                  .show-item__image
                    = image_tag "#{item.images[0].name}", height: '163'
                  .show-item__price
                    = item.price.to_s(:currency, precision: 0, format: '¥%n')
                  .show-item__name
                    %p 
                      = item.name
      .show-recommend
        .text
          人気のブランド
        .list-box
          .list-box__list
            ブランド1
          .list-box__list
            ブランド2
          .list-box__list
            ブランド3
          .list-box__list
            ブランド4
      .recommend-box
        .recommend-item
          .header
            .title
              ブランド1新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
            - 10.times do
              .show-item
                = link_to "", class:"modify-link-to" do
                  .show-item__image
                    = image_tag "top-page/item-sample-image.png"
                  .show-item__price
                    ¥4,000
                  .show-item__name
                    %p ニンテンドースイッチ スプラトゥーン2
        .recommend-item
          .header
            .title
              ブランド2新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
        .recommend-item
          .header
            .title
              ブランド3新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper
        .recommend-item
          .header
            .title
              ブランド4新着アイテム
            .see-more
              = link_to "", class:"modify-link-to" do
                .see-more__box
                  .see-more__box__text
                    もっと見る
                  .see-more__box__icon
                    = fa_icon "angle-right"
          .items-wrapper