.top-page-main-content
  .content-box
    .advertisement
      .move-left
        = fa_icon "angle-left"
      .move-right
        = fa_icon "angle-right"
    .main-content
      .show-recommend
        .text
          人気のカテゴリー
        .list-box
          .list-box__list
            = link_to "#categoryPath1" do
              #{category1.name}
          .list-box__list
            = link_to "#categoryPath2" do
              #{category2.name}
          .list-box__list
            = link_to "#categoryPath3" do
              #{category3.name}
          .list-box__list
            = link_to "#categoryPath4" do
              #{category4.name}
      .recommend-box
        = render partial: "top-page-item-wrapper", locals: {itemsCategory1: @itemsCategory1, category1: @Category1, |
                                                              itemsCategory2: @itemsCategory2, category2: @Category2, |
                                                              itemsCategory3: @itemsCategory3, category3: @Category3, |
                                                              itemsCategory4: @itemsCategory4, category4: @Category4,}
      .show-recommend
        .text
          人気のブランド
        .list-box
          .list-box__list
            = link_to "#brandPath1" do
              #{brand1.name}
          .list-box__list
            = link_to "#brandPath2" do
              #{brand2.name}
          .list-box__list
            = link_to "#brandPath3" do
              #{brand3.name}
          .list-box__list
            = link_to "#brandPath4" do
              #{brand4.name}
      .recommend-box
        = render partial: "top-page-item-wrapper-brand", locals: {itemsBrand1: @itemsBrand1, brand1: @Brand1, |
                                                        itemsBrand2: @itemsBrand2, brand2: @Brand2, |
                                                        itemsBrand3: @itemsBrand3, brand3: @Brand3, |
                                                        itemsBrand4: @itemsBrand4, brand4: @Brand4}