.form
  = form_with model: @item, local: true do |f|
    = f.text_field :name
    = f.text_field :price
    = f.fields_for :images do |image|
      = image.file_field :image
    = f.submit "データベースへ"

.main-header
  = render "items/top-page-header"
.main-content
  = render partial: "items/top-page-main-contents", locals: {itemsCategory1: @itemsCategory1,imagesCategory1: @imagesCategory1, categoryName1: @CategoryName1, |
                                                              itemsCategory2: @itemsCategory2,imagesCategory2: @imagesCategory2, categoryName2: @CategoryName2, |
                                                              itemsCategory3: @itemsCategory3,imagesCategory3: @imagesCategory3, categoryName3: @CategoryName3, |
                                                              itemsCategory4: @itemsCategory4,imagesCategory4: @imagesCategory4, categoryName4: @CategoryName4}
.top-page-shipping-button
  = render "items/shipping-button"
.main-footer
  = render "items/top-page-footer"