= form_tag do |f|
  .confirm_purchase_items

    = render partial: 'shared/center_logo_header'

    .confirm_purchase_items__contents
      .confirm_purchase_items__contents__title
        .confirm_purchase_items__contents__title__confirm-purchase-item
          購入内容の確認

      .confirm_purchase_items__contents__purchase
        .confirm_purchase_items__contents__purchase__inner
          .confirm_purchase_items__contents__purchase__inner__item
            .confirm_purchase_items__contents__purchase__inner__item__item-picture
              = image_tag "#{@item.images.first.name}", size: '64x64'
            .confirm_purchase_items__contents__purchase__inner__item__item-name
              = @item.name
          .confirm_purchase_items__contents__purchase__inner__price
            %p.confirm_purchase_items__contents__purchase__inner__price__price
              = @item.price.to_s(:currency, precision: 0, format: '¥%n')
            %p.confirm_purchase_items__contents__purchase__inner__price__postage
              = @item.postage_side_i18n
          .confirm_purchase_items__contents__purchase__inner__points
            ポイントはありません
          .confirm_purchase_items__contents__purchase__inner__payment
            .confirm_purchase_items__contents__purchase__inner__payment__price
              支払い金額
            .confirm_purchase_items__contents__purchase__inner__payment__money
              = @item.price.to_s(:currency, precision: 0, format: '¥%n')
          .confirm_purchase_items__contents__purchase__inner__validate
            
          - unless @card.blank?
            = link_to buy_item_path(params[:id]) do
              .confirm_purchase_items__contents__purchase__inner__purchase
                購入する
          - if @card.blank?
            = link_to new_card_path do
              .confirm_purchase_items__contents__purchase__inner__purchase
                クレジットカードを登録する
      .confirm_purchase_items__contents__shipping
        .confirm_purchase_items__contents__shipping__address
          配送先
        .confirm_purchase_items__contents__shipping__information
          〒-
        .confirm_purchase_items__contents__shipping__inner
          %a{href: '#', class: 'confirm_purchase_items__contents__shipping__inner__edit'}
            変更する
          = fa_icon 'angle-right', class: 'confirm_purchase_items__contents__shipping__inner__edit__icon fa-2x'

      .confirm_purchase_items__contents__method
        .confirm_purchase_items__contents__method__payment
          支払方法
        .confirm_purchase_items__contents__method__information
          クレジット
        - unless @card.blank?
          .credits__index
            .credits__index__payment-num
              = "**** **** **** " + @default_card_information.last4
            .credits__index__date
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
        .confirm_purchase_items__contents__method__inner
          %a{href: '#', class: 'confirm_purchase_items__contents__method__inner__edit'}
            変更する
          = fa_icon 'angle-right', class: 'confirm_purchase_items__contents__method__inner__edit__icon fa-2x'

    = render partial: 'shared/center_logo_footer'