= render "items/top-page-header"
%main.big-container
  %main.my-container
    = render "/mypages/side-bar"

    .mypage__credit-edit
      .header
        クレジットカード情報入力
      = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm", class: "payment__edit") do
        .payment__edit__form
          %label.label カード番号
          %span.option
            必須
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number", class: "payment-num"
          .card-brands
            = image_tag "visa.svg"
            = image_tag "master-card.svg"
            = image_tag "saison-card.svg"
            = image_tag "jcb.svg"
            = image_tag "american_express.svg"
            = image_tag "dinersclub.svg"
            = image_tag "discover.svg"
        .payment__edit__form
          %label.label 有効期限
          %span.option
            必須
          .effective-date
            %select#exp_month{name: "exp_month", type: "text"}
              %option{value: ""} --
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            .icon.fa.fa-angle-down
            %span 月/
            %select#exp_year{name: "exp_year", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            .icon.fa.fa-angle-down
            %span 年
        .payment__edit__form
          %label.label セキュリティコード
          %span.option
            必須
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc", class: "security-code"
          =link_to "#", class: "explanation" do
            .explanation__icon.fa.fa-question-circle
            .explanation__text
              カード裏面の番号とは？
        #card_token
        = submit_tag "追加する", id: "token_submit", class: "submit-btn"
= render "items/top-page-footer"