= render 'items/top-page-header'
- breadcrumb :category
= render "layouts/breadcrumbs"

.category-show-contents
  .category-show-contents__content
    .category-show-contents__content__category-link
      = link_to '#' do
        %p
          ああああああああああああああああああああああああ
    .category-show-contents__content__items
      .category-show-contents__content__items__category-name
        %p
          トップスの一覧商品
      .category-show-contents__content__items__lists
        .category-show-contents__content__items__lists__item
          = link_to '#' do
            .category-show-contents__content__items__lists__item__image
              -# = image_tag '', height: '163'
            .category-show-contents__content__items__lists__item__price
              = 1000.to_s(:currency, precision: 0, format: '¥%n')
            .category-show-contents__content__items__lists__item__name
              %p 
                タイトル
        .category-show-contents__content__items__lists__item
          = link_to '#' do
            .category-show-contents__content__items__lists__item__image
              -# = image_tag '', height: '163'
            .category-show-contents__content__items__lists__item__price
              = 1000.to_s(:currency, precision: 0, format: '¥%n')
            .category-show-contents__content__items__lists__item__name
              %p 
                タイトル
        .category-show-contents__content__items__lists__item
          = link_to '#' do
            .category-show-contents__content__items__lists__item__image
              -# = image_tag '', height: '163'
            .category-show-contents__content__items__lists__item__price
              = 1000.to_s(:currency, precision: 0, format: '¥%n')
            .category-show-contents__content__items__lists__item__name
              %p 
                タイトル
        .category-show-contents__content__items__lists__item
          = link_to '#' do
            .category-show-contents__content__items__lists__item__image
              -# = image_tag '', height: '163'
            .category-show-contents__content__items__lists__item__price
              = 1000.to_s(:currency, precision: 0, format: '¥%n')
            .category-show-contents__content__items__lists__item__name
              %p 
                タイトル
        .category-show-contents__content__items__lists__item
          = link_to '#' do
            .category-show-contents__content__items__lists__item__image
              -# = image_tag '', height: '163'
            .category-show-contents__content__items__lists__item__price
              = 1000.to_s(:currency, precision: 0, format: '¥%n')
            .category-show-contents__content__items__lists__item__name
              %p 
                タイトル

    .category-show-contents__content__pagination
      -# = paginate()
    .category-show-contents__content__explanation-box
      .category-show-contents__content__explanation-box__category-name
        %p
          トップス（レディース）
      .category-show-contents__content__explanation-box__category-explanetion
        %p
          トップス（レディース）の着ない服、いらない洋服を売るならメルカリへ。
          トップスはレディースの下にあるカテゴリで商品は100万点以上あります。
          よく見られているカテゴリーはトレーナー/スウェットやトレーナー/スウェットです。
          特に人気の商品は「ニーム 薄手トレーナー」や「早い者勝ち！新品 エレッセ パーカー 白 m ノースフェイス」
          や「【新品未使用】パール装飾付 セーター ブラック」があります。トップスの買い取りやリサイクル処分、
          服の整理を検討中の方にお勧めです。

  = render 'items/top-page-footer'
.top-page-shipping-button
  = render "items/shipping-button"