.user__background
  .user__input__header
    %ul
      %li.user__input__header-logo
        = link_to "#" do
          = image_tag "logo.svg",size: "200x50", alt: "logo"
      %li.user__input__header-bar
        aaa
  .user__input__common
    .user__input__common__title
      .user__input__common__title-text
        会員情報入力
    .user__input__common__main
      .user__input__common__main-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .user__input__common__main-form-field
            = f.label :"ニックネーム"
            %br/
            -# 後で:emailを:nicknameにする
            = f.text_field :email,  placeholder: "例）メルカリ太郎"        
          .user__input__common__main-form-field
            = f.label :email
            %br/
            = f.email_field :email,  autocomplete: "PC・携帯どちらでも可"
          .user__input__common__main-form-field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .user__input__common__main-form-field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .user__input__common__main-form-field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .user__input__common__main-form-field
            = f.label :password_confirmation
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .actions
            = f.submit "Sign up"
      = render "users/shared/links"
  = render "shared/center_logo_footer"
